body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0ece9;
}

#grid-container{
    display: grid;
    grid-template-columns: 0,5fr 3fr 0,5fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    gap: 1rem;

}

.header{
    grid-column: 1/4;
    grid-row: 1/2;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

#logo{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 30px;
    height: 60px;
    width: 60px;
    background-color: white;
    margin-inline: auto;

    a{
        color: black;
        text-decoration: none;
    }
}

.nav{
    display: flex;
    justify-content:space-around;
    align-items: center;

}

.nav ul{
    display: flex;
    list-style: none;
}

.nav li{
    margin: 1rem;
}

.nav li a{
    text-decoration: none;
    color: black;
}

#mansory-grid{
    grid-column: 2/3;
    grid-row: 2/3;
}

footer{
    grid-column: 1/4;
    grid-row: 4/4;
}

#footer{
    display:flex;
    justify-content: center;
    align-items: center;
}

#natur, #science, #animal, #tech, #culture, #history, #geo, #food{
    padding:3rem;
    border-radius: 10px;
}

#natur{
        background-color: hsl(146, 52%, 72%);
        grid-column: 1 / 3;
        grid-row: 2 / 4;

    }
    
    #science{
        background-color:hsl(0, 0%, 100%);
        grid-column: 3 / 4;
        grid-row: 2 / 3;

    }
    #animal{
        background-color: hsl(337, 52%, 72%);
        grid-column: 4 / 5;
        grid-row: 2 / 3;
    }

    #tech{
        background-color: hsl(204, 52%, 72%);
        grid-column: 3 / 5;
        grid-row: 3 / 4;

    }

    #culture{
        background-color: hsl(271, 52%, 72%);
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }

    #history{
        background-color: hsl(8, 52%, 72%);
        grid-column: 2 / 3;
        grid-row: 4 / 5;
    }

    #geo{
        background-color: hsl(168, 52%, 72%);
        grid-column: 3 / 4;
        grid-row: 4 / 5;

    }

    #food{
        background-color: hsl(30, 52%, 72%);
        grid-column: 4 / 5;
        grid-row: 4 / 5;

    }

    .section-grid{
        text-align: center;
        display: flex;
        flex-direction: column;
    }