*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-between;
    width: 100;
    color: black;
}

nav{
    flex-direction: column;
    color: black;
    background-color: #efefef;
    text-align: center;
}

nav, ul{
    list-style: none;
    color: black;
}

nav, ul, a{
    color:black;
    text-decoration: none;
}

#logo{
    justify-content: space-evenly;
    align-content: space-evenly;
    font-size: 1.4rem;
    font-weight: bold;
}

section{
    padding: 1rem;
    margin-top: 80px;
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;

}

main{
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    width: 70%;
    min-width: 350px;
    justify-content: space-between;
}

#change-order{
}

#booking{

}

.btn{
    width: 30px;
    border: 2px solid green;
    padding: 5px;
    margin: 2px;
}

#tjenester{
    
}

#article{

}

footer{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: column;
    background-color: aqua;
}

/*
#generelt{
    background-color: aqua;
}

#some{
    justify-content: flex-start;
    background-color: aqua;
}

#snarveier{
    background-color: aqua;
}*/

@media only screen and (min-width: 1025px) {
    body {
      font-size: 1.4rem;
    }
  }
