#welcome-banner{
    background-image: url('https://picsum.photos/200/300');
    font-family: $mainFont;
    font-weight: bold;
    border-radius: 15px;
    display: flex;
    justify-content: center;
}
