@use 'banner' as*;

.grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 100%;
}

header{
    height: 150px;
    display: grid;

    a{
        display: grid;
        justify-content: center;
        align-content: center;
        align-items: row;
    }

    .logo img{
        display: grid;
        border-radius: 50%;
        justify-content: center;
    }    
}

.navbar{
    display: flex;
    /*justify-content: space-around;*/
    /*position: fixed;*/
    bottom: 20%;
    background-color: rgb(58, 80, 51);

    ul{
        list-style: none;
        display: flex;
        /*flex-direction: row;
        justify-content: space-around;
        align-content: center;*/
        margin: 0;
        padding: 0;
        background-color: rgb(58, 80, 51);
    }
}

main{
    display: grid;


    header{
        height: 150px;
    }

}
