@import url('https://fonts.googleapis.com/css2?family=Thasadith:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Thasadith:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$mainFont: 'Thasadith', sans-serif;
$sekunderFont:'Monserrat', sans-serif;

$backgroundColor: #fff;
$sekunderColor: #efefef;
$tertierColor: rgb(117, 183, 203);