@use 'variables' as *;
@use 'base' as *;
@use 'mixins' as *;


body{
    font-family: $mainFont;
    margin: 0;
    padding: 0;
}

header a{
    display: grid;
    justify-content: center;
    align-items: row;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    ul{
        list-style: none;
    }
}



.logo img{
    display: grid;
    border-radius: 50%;
}

