@use 'variables' as *;
@use 'base' as *;
@use 'mixins' as *;
@use 'banner' as *;

*{
    box-sizing: border-box;
}

body{
    font-family: $mainFont;
    background-color: $backgroundColor;
    margin: 0;
    padding: 0;
}
