*{
    box-sizing: border-box;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;

}

#container{
    display: flex;
    flex-wrap: wrap;

}

header, nav, footer{
    width: 100%;
}

header, nav, main, aside, footer{
    flex-grow: 1;
    padding: 1rem;
}

header{
    background-color: rgb(183, 218, 238);
}

nav{
    background-color: rgb(234, 182, 190);

}

nav ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 1rem;
}

main{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(184, 217, 196);
    width: 70%;
    min-width: 500px;
    justify-content: space-between;
}

main h2{
    width: 100%;

}

main article{
    width: 30%;
}

aside{
    background-color: rgb(255, 250, 220);
    width: 30%;
}

footer{
    color: #fff;
    background-color: rgb(203, 203, 203) ;
}
